name: Deploy Laravel to Azure

on:
  push:
    branches: [ "main" ]

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: mbstring, intl, pdo_mysql
        tools: composer

    - name: Install dependencies
      working-directory: proyecto1
      run: composer install --no-dev --optimize-autoloader

    - name: Laravel optimizations
      working-directory: proyecto1
      run: |
        php artisan config:cache
        php artisan route:cache
        php artisan view:cache
      env:
        APP_ENV: production
        APP_KEY: ${{ secrets.APP_KEY }}

    # Create ZIP for deployment
    - name: Generate deployment ZIP
      run: |
        cd proyecto1
        zip -r ../release.zip . -x "*.git*"

    # Login using Managed Identity
    - name: Azure Login (OIDC)
      uses: azure/login@v2
      with:
        auth-type: IDENTITY
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    # Deploy to Azure Web App
    - name: Deploy ZIP to App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: "rg-laravel-c7h0h3fcbaacata0" # Nombre real
        package: "release.zip"
