name: Laravel Build

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        tools: composer

    - name: Install dependencies
      working-directory: proyecto1
      run: composer install --no-dev --prefer-dist --no-interaction

    - name: Laravel optimizations
      working-directory: proyecto1
      run: |
        php artisan config:cache
        php artisan route:cache
        php artisan view:cache

    - name: Create deployment package
      run: |
        cd proyecto1
        zip -r ../release.zip . -x '*.git*'

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: php-app
        path: release.zip
