name: Deploy Laravel to Azure

on:
  workflow_dispatch: # lo ejecutas manualmente

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Download Artifact from latest successful run
      uses: dawidd6/action-download-artifact@v3
      with:
        name: php-app
        workflow_conclusion: success
        path: ./artifact

    - name: Azure Login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Deploy ZIP to App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: "RG-Laravel"
        package: "./artifact/php-app.zip"
