name: Azure Deploy Laravel

on:
  push:
    branches:
      - main

env:
  APP_NAME: RG-Laravel
  PHP_VERSION: '8.2'
  PROJECT_DIR: 'proyecto1'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # ------ Login to Azure with OIDC ------
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # ------ Checkout Repo ------
      - name: Checkout Code
        uses: actions/checkout@v4

      # ------ Setup PHP ------
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
          extensions: mbstring, intl, pdo_mysql
          tools: composer

      # ------ Laravel Dependencies ------
      - name: Composer Install
        run: composer install --no-dev --optimize-autoloader
        working-directory: ${{ env.PROJECT_DIR }}

      - name: Generate Key + Cache
        run: |
          cp .env.example .env
          php artisan key:generate --force
          php artisan config:cache
          php artisan route:cache
          php artisan view:cache
        working-directory: ${{ env.PROJECT_DIR }}

      # ------ ZIP PACKAGE ------
      - name: Create deployment package
        run: zip -r release.zip . -x '*.git*' '*.github*'
        working-directory: ${{ env.PROJECT_DIR }}

      # ------ DEPLOY ------
      - name: Deploy to Azure WebApp
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.APP_NAME }}
          package: ${{ env.PROJECT_DIR }}/release.zip
