name: Azure Deploy Laravel

on:
  push:
    branches:
      - main

env:
  APP_NAME: RG-Laravel
  AZURE_WEBAPP_PACKAGE_PATH: '.' # donde está el proyecto en tu repo
  PHP_VERSION: '8.2'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

    # Checkout del repo
    - name: Checkout GitHub Action
      uses: actions/checkout@v4

    # Configurar PHP
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ env.PHP_VERSION }}
        extensions: mbstring, intl, pdo_mysql
        tools: composer

    # Instalar dependencias Laravel
    - name: Composer Install
      run: composer install --no-dev --optimize-autoloader

    # Copiar .env si existe en repo
    - name: Copy .env if exists
      run: |
        if [ -f ".env.example" ]; then
          cp .env.example .env
        fi

    # Generar clave Laravel
    - name: Generate key
      run: php artisan key:generate --force

    # Optimización Laravel (del profe)
    - name: Laravel optimizations
      run: |
        php artisan config:cache
        php artisan route:cache
        php artisan view:cache
      env:
        APP_ENV: production
        APP_DEBUG: false

    # Crear .zip para desplegar
    - name: Create deployment package
      run: zip -r release.zip . -x '*.git*' '*.github*'

    # Desplegar a Azure App Service
    - name: Deploy to Azure WebApp
      uses: azure/webapps-deploy@v2
      with:
        app-name: ${{ env.APP_NAME }}
        slot-name: 'production'
        package: release.zip
