name: Azure Deploy Laravel

on:
  push:
    branches:
      - main

env:
  PROJECT_DIR: 'proyecto1'
  APP_NAME: 'RG-Laravel'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          extensions: mbstring, intl, pdo_mysql
          tools: composer

      - name: Install dependencies
        working-directory: ${{ env.PROJECT_DIR }}
        run: composer install --no-dev --optimize-autoloader

      - name: Prepare Laravel
        working-directory: ${{ env.PROJECT_DIR }}
        run: |
          cp .env.example .env
          php artisan key:generate --force
          php artisan config:cache

      - name: Login to Azure using OIDC
        uses: azure/login@v2
        with:
          auth-type: IDENTITY
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure Web App (Linux)
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.APP_NAME }}
          package: ${{ env.PROJECT_DIR }}
